/* CUSTOM ACCOUNT REPORT */
div.table-responsive {

  table.o_account_reports_table {
    /* Fix text-align of each column in line level3 */
    .o_account_reports_level3.no-margin {
      .o_account_report_column_value {
        margin-left: 0 !important;
        padding-left: 15px;
      }
    }

    /* Make checkbox in each line of report vertical-align: middle */
    span.o_account_report_column_value {
      input[type=checkbox] {
        vertical-align: middle;
      }
    }
  }
}
