.ckus_check {
  .ckus_date {
    left: 6.5in;
    top: 0.56in;
  }

  .ckus_amount {
    top: 1.06in;
  }

  .ckus_memo {
    top: 2.45in;
  }
}

.ckus_top_page {
  .ckus_stub_1 {
    top: 3.47in
  }

  .ckus_stub_2 {
    top: 7.0in
  }
}

.ckus_page {
  .ckus_stub {
    .stub_total_amount {
      bottom: 0.01in;
    }
  }
}